<!DOCTYPE html>

<html>

<head>
	{{ partial "head.html" . }}
	<meta property="twitter:card" content="summary"/>
	<meta property="twitter:site" content="@calebccff"/>
	<meta property="twitter:url" content="{{ .Permalink }}"/>
	<meta property="twitter:title" content="{{ .Title }}"/>
	<meta property="twitter:description" content="{{ .Summary }}"/>
	{{ with .Page.Resources.GetMatch "header"}}
	{{ $.Scratch.Set "image" (.Resize "800x q75") }}
	{{ $image := $.Scratch.Get "image" }}
	<meta property="twitter:image" content="{{ $image.Permalink }}"/>
	<meta property="twitter:image:alt" content="{{ $image.Title }}"/>
	{{ end }}

	<meta name="title" content="{{ .Title }}"/>
	<meta name="description" content="{{ .Summary }}"/>
</head>
{{ partial "page_header.html" . }}
<h1>{{ .Title }}</h1>
<p class="post-meta"><time itemprop="datePublished">{{ .Date.Format "January 2, 2006" }}</time>
</p>

{{ with .Page.Resources.GetMatch "header"}}
	{{ $.Scratch.Set "image" (.Resize "800x q75") }}
	{{ $image := $.Scratch.Get "image" }}
<figure>
	<img src="{{ $image.Permalink }}" alt="{{ $image.Title }}" width="{{ $image.Width }}" height="{{ $image.Height }}" />
	<figcaption>{{ $image.Title }}</figcaption>
</figure>
{{ end }}

{{ .Content }}

{{ partial "footer.html" . }}

</html>