html {
	background-color: rgb(20, 20, 20);
	line-height: 1.4;
	font-family: sans-serif;
}

body {
	color: rgb(238, 238, 238);
	max-width: 50rem;
	padding: 2rem;
	margin: auto;
	overscroll-behavior-y: none;
}

img {
	max-width: 100%;
    height: auto;
}

a {
	color: #FA9905;
}

a:hover {
	color: #FF5200;
}

h1, h2, h3, strong {
	color: rgb(161, 161, 161);
	font-weight: bold;
	text-indent: 1rem;
}

hr {
	background: transparent;
	border: none;
	border-top: 0.1em solid #FA9905;
}

figcaption {
	font-style: italic;
	color: #a7a7a7;
}

blockquote {
	background-color: #1b1b1b;
	border-width: 0;
	border-left-width: 0.5rem;
	border-left-color: #FF5200;
	border-style: solid;
	padding: 0 1rem 0 1rem;
	max-width: 30rem;
	font-size: 2em;
}

pre {
	background-color: rgb(8, 8, 8);
	color: rgb(207, 207, 207);
	padding: 0.5em;
	overflow-x: auto;
}

em {
	color: #F21170;
}
