
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Stylesheets -->
{{ with resources.Get "css/main.css" | resources.Minify }}
<style>{{ .Content | safeCSS }}</style>
{{ end }}
<!-- End stylesheets -->

<title>{{ .Site.Params.Name }}</title>
<link rel="icon" type="image/png" href="/img/favicon.png" />
