<!DOCTYPE html>
<html>
<head>
	{{ partial "head.html" . }}
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
	<meta property="twitter:card" content="summary"/>
	<meta property="twitter:site" content="@calebccff"/>
	<meta property="twitter:url" content="{{ .Site.BaseURL }}"/>
	<meta property="twitter:title" content="{{ .Site.Title }}"/>
	<meta property="twitter:description" content="{{ .Site.Params.About }}"/>
	<meta property="twitter:image" content="{{ "/img/site_header.jpg" | absURL }}"/>
	<meta name="title" content="{{ .Site.Params.Name }}"/>
	<meta name="description" content="{{ .Site.Params.About }}"/>
</head>

<body>

	<h1>{{ .Site.Params.Name }}</h1>
	<h4>{{ .Site.Params.About| markdownify }}</h4>

	<div>{{ .Content }}</div>

	<table>
		{{ range .Site.Params.profiles }}
		{{ partial "profile_link.html" . }}
		{{ end }}
		<tr>
			{{ if ne .Site.Params.Resume "" }}
			<td><i class="fas fa-file-alt" aria-hidden="true"></i></td>
			<td>&nbsp;<a href="/resume/{{ .Site.Params.Resume }}" target="_blank">Resume</a></td>
			{{ end }}
		</tr>
		<tr>
			{{ if ne .Site.Params.Email "" }}
			<td><i class="fas fa-envelope" aria-hidden="true"></i></td>
			<td>&nbsp;<a href="mailto:{{ .Site.Params.Email }}">{{ .Site.Params.Email }}</a></td>
			{{ end }}
		</tr>
	</table>

	<h3>Posts</h3>

	<div>

		<!-- orders content according to the "publishdate" field in front matter -->
		{{ range first (.Site.Params.PostLimit | default 5) (where .Site.RegularPages.ByPublishDate.Reverse "Section" "posts") }}
		<div>
			<a href="{{ .Permalink }}">{{ .Title }}</a><br />
			<p>{{ .Summary }}</p>
			<time>{{ .Date.Format "January 2, 2006" }}</time>
		</div>
		<br />
		{{ end }}


		<h3><a href="posts/">View all posts</a></h3>
	</div>
	{{ if ne .Site.Params.GoatCounterCode "" }}
	<script data-goatcounter="{{ .Site.Params.GoatCounterCode }}" async src="//gc.zgo.at/count.js"></script>
	{{ end }}
</body>

</html>
